.page-transition-items
  .wipe1-box1,
  .wipe1-box2,
  .wipe1-box3
    position absolute
    background-color rgba(0, 0, 0, 0.3)
    width 100%
    height 0
    opacity 1
    bottom 0

  .wipe1-text1
    font-family 'Poppins', sans-serif
    font-size 30px
    font-weight 50
    height 60px
    left 0
    letter-spacing 12px
    margin auto
    opacity 0
    position absolute
    right 0
    top 0
