html, body
  height 100%
  overflow hidden

body
  background-color black
  color white
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, 'Poppins', sans-serif, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, sans-serif
  margin 0px
  text-align center

a:visited,
a:link
  color white
  text-decoration none

.page-root
  height 100%
  overflow hidden
  position absolute
  width 100%
  z-index 1
  &::after
    content ''
    display block
    padding-top 100%

.center-container
  height 420px
