body
  background-color black
  color white
  font-family "DIN Next W04","Helvetica Neue",Helvetica,Arial,sans-serif
  margin 0px;
  text-align center

a:visited,
a:link
  color white
  text-decoration none

.page-root
  overflow hidden
  position absolute
  width 100%
